root = true

[*]
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

# YAML n'autorise pas les tabulations pour l'indentation
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown : ne pas rogner les espaces de fin (sauts de ligne significatifs)
[*.md]
trim_trailing_whitespace = false
